@font-face {
    font-family: Roboto;
    src: url('Roboto-Black.ttf');
}
@font-face {
    font-family: PTSans;
    src: url('PTSansNarrow-Regular.ttf');
}
.root{
    -fx-background-color: #81cca0;
}
.split-pane{
    -fx-background-color: #81cca0;
}
.split-pane-divider{
    -fx-background-color: #81cca0;
}


.tab-header-background{
    -fx-background-color: #5aa679;
}
.tab:top:hover{
    -fx-background-color: #85d6a6;
}
.tab:selected:top{
    -fx-background-color: #81cca0;
}

.tab:top{
    -fx-background-color: #60b583;
}


.label{
    -fx-font-family: PTSans;
    -fx-font-size: 14px;
}
.text-field{
    -fx-background-color: #b0d1bd;
    -fx-font-size: 14px;
}
.text-area .content{
    -fx-background-color: #b0d1bd;
    -fx-font-size: 14px;
}



.table-view{
    -fx-background-color: #bad6c6;
}
.table-view .column-header{
    -fx-background-color: #60b583;
}
.table-view .column-header-background .filler{
    -fx-background-color: #60b583;
}
.table-view .corner{
    -fx-background-color: #60b583;
}
.table-view .table-cell{
    -fx-border-color: transparent;
}
.table-row-cell:selected{
    -fx-background-color: #81cca0;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #5aa679, #81cca0);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #5aa679, #81cca0);
}

.button{
    -fx-background-color: #dea568;
    -fx-font-size: 13px;
    -fx-font-family: Roboto;
}

.button:hover{
    -fx-background-color: #e3ae76;
}


.spinner .increment-arrow-button{
    -fx-background-color: #5aa679;
}
.spinner .decrement-arrow-button{
    -fx-background-color: #5aa679;
}
.spinner .increment-arrow-button:hover{
    -fx-background-color: #68b085;
}
.spinner .decrement-arrow-button:hover{
    -fx-background-color: #68b085;
}

.date-picker:editable .arrow-button{
    -fx-background-color: #5aa679;
}
.date-picker:editable .arrow-button:hover{
    -fx-background-color: #68b085;
}
.date-picker-popup > .month-year-pane{
    -fx-background-color: #5aa679
}
.date-picker-popup > .calendar-grid{
    -fx-background-color: #75bf93;
}
.date-picker-popup > * > .date-cell{
    -fx-background-color: #bad6c6;
    -fx-border-color: #bad6c6;
}
.date-picker-popup > * > .week-number-cell{
    -fx-text-fill: #dea568;
}

.check-box > .box{
    -fx-background-color: #b0d1bd;
}
.check-box > .box:hover{
    -fx-background-color: #68b085;
}