@font-face {
    font-family: Roboto;
    src: url('Roboto-Black.ttf');
}
@font-face {
    font-family: PTSans;
    src: url('PTSansNarrow-Regular.ttf');
}
.myDialog{
    -fx-background-color: #81cca0;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #81cca0;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #81cca0;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-fill: #292929;
}

.myDialog > .button-bar > .button {
    -fx-background-color: #fac;
}

.button{
    -fx-background-color: #dea568;
    -fx-font-size: 13px;
    -fx-font-family: Roboto;
}
.button:hover{
    -fx-background-color: #e3ae76;
}

.graphic-container{
    -fx-border-radius: 0px;
}