@font-face {
    font-family: Roboto;
    src: url('Roboto-Black.ttf');
}
@font-face {
    font-family: PTSans;
    src: url('PTSansNarrow-Regular.ttf');
}
.root{
    -fx-background-color: #81cca0;
}

.text-field{
    -fx-background-color: #b0d1bd;
    -fx-font-size: 14px;
}

.label{
    -fx-font-family: PTSans;
    -fx-font-size: 14px;
}


.button{
    -fx-background-color: #dea568;
    -fx-font-size: 13px;
    -fx-font-family: Roboto;
}
.button:hover{
    -fx-background-color: #e3ae76;
}